<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ysq.album">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.ysq.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/ysq_file_paths" />
        </provider>


        <activity
            android:name=".activity.AlbumActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AlbumTheme" />

        <activity
            android:name=".activity.AlbumPreviewActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AlbumPreviewTheme" />

    </application>

</manifest>